<% if user_signed_in? %>
  <li>
  <%= link_to('Passwort Ändern', edit_user_registration_path) %>
  </li>
<% else %>
  <li>
  <%= link_to('Registrieren', new_user_registration_path)  %>
  </li>
<% end %>