<% if notice %>
	<p id="notice" class="alert alert-info"><%= notice %></p>
<% end %>

<%= link_to 'New Post', new_post_path, class: 'btn btn-primary' %>

<h2>Listing Posts</h2>


<%= render partial: "post", collection: @posts %>


<br>

<%= link_to 'New Post', new_post_path, class: 'btn btn-primary' %>
