<h2>All Favourites of <%= @user.name %></h2>

<div class="pagination-container">
  <%= will_paginate @posts %>
</div>

<div class="posts">
    <%= render partial: "posts/post", collection: @posts %>
</div>