// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/* Posts */

.posts
{
  margin-top: 2em;
}

.post
{
  //background-color: #eee;
  margin:  1rem 0;
}


.post-top
{
  display: block;
}

.post-link
{
  font-weight: bold;
  text-decoration: none;
}

.post-meta
{
  font-size: 80%;
  display: block;
}

.post-link:visited
{
  color: #999;
}

.post-meta .post-user a, .post-user a:visited
{
  color: black;
  font-weight: bold;
  text-decoration: none;
}

.post-comments-link
{
  color: #888;
  text-decoration: none;
}

.category-label a
{
  background-color: #ddd;
  text-decoration: none;
}

.post-upvote-link a{
  text-decoration: none;
}
.post-downvote-link a{
  text-decoration: none;
}